body, html{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom right, darkgray, darkolivegreen);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 0.2fr 1.5fr 1fr 1fr 0.8fr;
    grid-template-areas: "navbar navbar navbar navbar"
                          "sidebar main main main"
                          "sidebar section1 section2 section3"
                          "sidebar section4 section4 section4"
                          "footer footer footer footer";
                          height: 100%;
                          gap: 5px;
}

nav{
    background-color: antiquewhite;
    grid-area: navbar;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    border:1px solid black;
    color: red;
}
main{
    background-color: brown;
    grid-area: main;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: whitesmoke;
}
.sidebar {
    background-color: blue;
    grid-area: sidebar;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}
.section1{
    background-color: blueviolet;
    grid-area: section1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}
.section2 {
    background-color: aquamarine;
    grid-area: section2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}
.section3 {
    background-color: burlywood;
    grid-area: section3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
.section4 {
    background-color: rgb(127, 138, 255);
    grid-area: section4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}
footer {
    background-color: blueviolet;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

@media only screen and  (max-width : 750px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 1.6fr 0.8fr 1.5fr 0.8fr 1fr;
        grid-template-areas: "navbar navbar navbar"
                    "main main main"
                    "sidebar sidebar sidebar"
                    "section1 section2 section3"
                    "section4 section4 section4"
                    "footer footer footer";
    }

 
}