.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px auto 100px 100px;
    height: 100vh;
    width: 70%;
    margin: auto 0;
    text-align: center;
}
 

.container_item{
    background: red;
    grid-column-start: span 2;
}

.container_item1{
    background: yellow;
    grid-column-start: span 2;
}
.container_item2{
    background: pink;
    grid-column-start: span 2;
}
.container_item3{
    background: blue;
    grid-column-start: span 2;
}